.loadingContainer {
  animation: bounce 1s infinite;
  color: rgb(67 56 202);
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 1s infinite;
}
